/* Empêche le défilement de la page lorsque le modal est actif */
body.active-modal {
    overflow-y: hidden;
}

/* Style du bouton modal */
.btn-modalCard {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

/* Style du modal et de l'overlay (fond sombre) */
.modalCard, .overlayCard {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

/* Style de l'overlay (fond sombre) */
.overlayCard {
    background: rgba(49,49,49,0.8); /* Fond semi-transparent */
}

/* Style du contenu du modal */
.modalCard-content {
    position: absolute; /* Position absolue par rapport à la fenêtre */
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centre le modal dans la fenêtre */
    line-height: 1.4; /* Hauteur de ligne */
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px; 
}

/* Style du bouton de fermeture du modal */
.close-modalCard {
    position: absolute; /* Position absolue par rapport au modal */
    top: 10px; /* Position verticale */
    right: 10px; /* Position horizontale */
    padding: 5px 7px; /* Remplissage intérieur */
}
