.pageAdmin{
    max-width: 80%;
    min-width: 200px;
    border: 2px solid red;
    margin: 0 auto;
}
.pageEmploye{
    max-width: 80%;
    min-width: 200px;
    border: 2px solid red;
    margin: 0 auto;
}