/* === BASE HEADING === */ 

.h1Services {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #080808;
    /* -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s; */
  }
  
  /* .h1Services span {
    display: block;
    font-size: 0.5em;
    line-height: 1.3;
  } */
  .h1Services em {
    font-style: normal;
    font-weight: 600;
  }
  
  .titrePolice .h1Services {
    font-size:36px; font-weight:700;  letter-spacing:1px; text-transform:uppercase; width:280px; text-align:center; margin:auto; white-space:nowrap; padding-bottom:13px;
  }
  .titrePolice .h1Services:before {
      background-color: #c50000;
      content: '';
      display: block;
      height: 4px;
      width: 80px;
      margin-bottom: 5px;
  }
  .titrePolice .h1Services:after {
      background-color: #c50000;
      content: '';
      display: block;
      position:absolute; right:0; bottom:0;
      height: 5px;
      width: 80px;
      margin-bottom: 0em;
      margin-bottom: 5px;
  }
  
  
  /* ------- Helper Styles -------------*/
  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  /* body {
    background: #eee;
  } */
  div .titrePolice {
    position: relative;
    background: #f8f8f8;
    /* width:70%; */
    max-width: 500px;
    padding: 2em;
    margin: 1.5em auto;
    border: 3px solid rgba(0, 0, 0, 0.08);
  }
  
  /* .h1Services:before,
  .h1Services:after {
    background-color: #c50000;
  } */