@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* FOOTER */
/* FOOTER */
/* FOOTER */

.first-container {
  background-image: url(https://images.pexels.com/photos/733745/pexels-photo-733745.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: grid;
  align-self: center;
  justify-self: center;
  background-position: 40%;
}

.first-container > h1 {
  text-align: center;
  padding-top: 200px;
  letter-spacing: 0.3px;
  font-size: 30px;
  margin: 0;
}

.container-reparation {
  width: 100%;
  background-color: rgba(128, 128, 128, 0.158);
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  box-shadow: 0 0 15px black;
  display: grid;
}

.title-reparation {
  color: rgb(255, 255, 255);
  font-weight: 300;
  text-align: center;
}

.bloc-reparation {
  width: 100px;
  justify-self: center;
  align-self: center;
  padding: 40px;
}

.img-reparation {
  width: 100px;
}

.big-title {
  text-align: center;
  padding: 50px;
  text-transform: uppercase;
  color: white;
  text-shadow: 0 0 15px black;
  background-color: rgba(0, 0, 0, 0.473);
  letter-spacing: 0.7px;
}

@media screen and (min-width: 500px) {
  .container-reparation {
    display: grid;
    grid-template-columns: [] 1fr [] 1fr [];
  }
}

@media screen and (min-width: 1000px) {
  .container-reparation {
    grid-template-columns: [] 1fr [] 1fr [] 1fr [];
  }

  .big-title {
    font-size: 25px;
  }
}

@media screen and (min-width: 1500px) {
  .container-reparation {
    grid-template-columns: [] 1fr [] 1fr [] 1fr [] 1fr [];
  }

  .title-reparation {
    font-size: 22px;
  }

  .big-title {
    font-size: 30px;
  }
}

.container-repa-about {
  margin-top: 80px;
}

.page {
  margin-top: 150px;
}

.bloc-repa-about {
  width: 80%;
  margin-left: 10%;
  background-color: rgba(128, 128, 128, 0.322);
  color: white;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.bloc-repa-about > p {
  padding: 20px;
}

.title-repa-about {
  color: rgb(255, 193, 24);
  padding: 20px;
  font-weight: 400;
}

span {
  border-bottom: 1px solid rgb(255, 193, 24);
}

@media screen and (min-width: 600px) {
  .container-repa-about {
    display: grid;
    grid-template-columns: [] 1fr [] 1fr [];
  }
}

@media screen and (min-width: 1200px) {
  .title-repa-about {
    font-size: 25px;
  }

  .bloc-repa-about > p {
    font-size: 20px;
  }
}

.custom {
  margin-top: 150px;
  width: 80%;
  margin-left: 10%;
  background-color: rgba(0, 0, 0, 0.884);
  box-shadow: 0 0 15px black;
}

.ul-custom {
  padding: 20px;
}

.ul-custom > a {
  list-style: none;
  padding: 0.5px;
  text-align: center;
}

.ul-custom > li {
  color: black;
  display: inline;
}


.hidden {
  display: none;
}

.commentaire {
  width: 80%;
  margin-left: 10%;
  background-color: rgb(235, 235, 235);
  box-shadow: 0 0 15px black;
  color: black;
  margin-top: 20px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: [a] 1fr [b];
  grid-template-rows: [a] 1fr [b] 1fr [c];
}

.top-commentaire {
  font-weight: 800;
  text-align: center;
  padding: 15px;
  grid-row: a / b;  
  grid-column: a / b;
  justify-self: center;
  text-decoration: underline;
  display: grid;
  grid-template-columns: [a] 1fr [b] 1fr [];
  grid-template-rows: [a] 1fr [b];
}

.bottom-commentaire {
  padding: 15px;
  grid-row: b / c;
  grid-column: a / b;
  justify-self: center;
  text-align: center;
}

.user {
  width: 40px;
  justify-self: start;
  grid-column: a / b;
  grid-row: a / b;
  align-self: center;
}

.user-logo {
  width: 40px;
}

@media screen and (min-width: 600px) {
  .commentaire-container {
    display: grid;
    grid-template-columns: [] 1fr [] 1fr [];
  }
}

@media screen and (min-width: 1400px) {
  .commentaire-container {
    display: grid;
    grid-template-columns: [] 1fr [] 1fr [] 1fr [];
    width: 70%;
    margin-left: 15%;
  }
}

.card-car {
  width: 80%;
  box-shadow: 0 0 15px black;
}

.modify-title {
  color: black;
  font-size: 50px;
}

.modify {
  margin-top: 120px;
  text-align: center;
}

.form {
  width: 80%;
  box-shadow: 0 0 10px black;
  margin-left: 10%;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-bottom: 30px;
  background-color: white;
}

.form-fix {
  width: 80%;
  box-shadow: 0 0 10px black;
  margin-left: 10%;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-bottom: 30px;
  background-color: white;
}

label {
  font-size: 15px;
  color: rgb(80, 80, 80);
}

.bloc-form {
  padding: 8px;
}

.first-bloc {
  padding-top: 30px;
}

input {
  width: 73%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  font-family: 'Kanit', sans-serif;
}

textarea {
  font-family: 'Kanit', sans-serif;
  width: 73%;
  padding: 10px;
  border-radius: 5px;
}

#raison {
  width: 78%;
  border-radius: 5px;
  padding: 10px;
}

.btn {
  margin-top: 10px;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 5px;
  border: 1px solid gray;
  width: 80%;
  color: gray;
  text-transform: uppercase;
  font-family: 'Kanit', sans-serif;
}

.title-modification {
  font-size: 28px;
  text-align: center;
  letter-spacing: 0.1px;
  margin-top: 180px;
}

.day-title {
  font-size: 22px;
  letter-spacing: 0.1px;
  text-decoration: underline;
  padding-top: 35px;
}

.connexion-form {
  margin-top: 200px;
  margin-bottom: 200px;
}

@media screen and (min-width: 600px) {
  .form-fix {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  label {
    font-size: 20px;
  }

  .btn {
    font-size: 16px;
  }
  
  .title-modification {
    font-size: 40px;
  }

  input {
    width: 76%;
  }

  textarea {
    width: 76%;
  }
}  



.card-vente {
  width: 80%;
  text-align: center;
  background-color: white;
  box-shadow: 0px 0px 15px rgb(218, 218, 218);
  border-radius: 10px;
  margin-left: 10%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.vente-title {
  margin-top: 120px;
  color: black;
  text-align: center;
}

.title-card {
  font-weight: 400;
  padding: 30px;
  text-transform: uppercase;
  margin: 0;
}

.car-img {
  width: 80%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px black;
}

.ul-vente {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0;
}

.ul-vente > li {
  color: rgb(0, 0, 0);
  list-style: none;
  text-transform: none;
  font-weight: 200;
}

.separator {
  width: 80%;
  margin-left: 10%;
}

@media screen and (min-width: 520px) {
  .container-vente {
    display: grid;
    grid-template-columns: [] 1fr [] 1fr [];
  }
}

@media screen and (min-width: 920px) {
  .container-vente {
    display: grid;
    grid-template-columns: [] 1fr [] 1fr [] 1fr [];
  }
}

@media screen and (min-width: 1400px) {
  .container-vente {
    width: 90%;
    margin-left: 5%;
  }

  .title-card {
    font-size: 26px;
  }

  .ul-vente > li {
    font-size: 18px
  }

  .caracteristiques {
    font-size: 22px;
    font-weight: 300;
  }
}

.carousel {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.carousel-item {
  width: 100%;
  position: absolute;
  display: grid;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.carousel-item.active {
  opacity: 1;
}

.img-carroussel {
  width: 80%;
  height: auto;
  justify-self: center;
}

.link-car {
  background-color: rgb(19, 199, 19);
  color: rgb(255, 255, 255);
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 20px;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-div {
  padding-bottom: 40px;
}

.page-vente {
  margin-top: 150px;
}

@media screen and (min-width: 700px) {
  .details {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    height: 800px;
    align-self: center;
    justify-self: center;
  }
}

@media screen and (min-width: 1200px) {
  .page-vente {
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: [a] 1fr [b] 1fr [c];
  }
}

.white {
  color: white;
}