 .pageVente{
  background-color: beige;
  width: 80vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

 .carte{
  display: flex;
  flex-direction: row;
  width: 400px;
  /* height: 400px; */
  background-color: blueviolet;
  }

 .car10-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
 .car10-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 353px;
    height: 500px;
    text-align: left;
    background-color: rgb(255, 213, 0);
  }
  
  .car10-card:hover {
    transform: scale(1.05);
  }
  
  .car10-info {
    width: 300px;
    padding: 50px;
    padding-top: 100px;
  }
  
  .car10-info h2 {
    font-size: 1.5rem;
    margin: 0;
  }
  
  .car10-info p {
    font-size: 1rem;
    max-width: 290px;

    margin: 0;
  }
  
  .car10-image {
    width: 300px;
    max-height: 200px;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  /* .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
  }
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
   } 
  img {
    width: 100%;
    height: auto;
  } */